/*#region columns */
.col-8 {
    width: calc(100%/12 * 8);
    
}

.col-4 {
    width: calc(100%/12 * 4);
}

.col {
    width: 500px;
}
.col-7 {
    width: calc(100%/12 * 7);
    
}

.col-5 {
    width: calc(100%/12 * 5);
}
/* #endregion */