@import 'header','text', 'common_rules', 'columns';
$bg-primary : #0B0D17;
$almost-white: #D0D6F9;

body {
    background-image: url(../destination/background-destination-desktop.jpg);
    
}


.subheading-1 {
    color: white;
}

.info {
    align-self: flex-end;
}

.info h2, .info p {
    padding: 2rem 0
}

.destinations a {
    margin: 0 1rem;
    padding: 0.5rem 0;
    color: $almost-white;
    border-bottom: 2px solid transparent;
    transition: border 0.2s ease;
}

.destinations a:hover {
    color: white;
    border-bottom: 2px solid white;
}

.data {
    display: inline-block;
    margin-right: 3rem;
    margin-top: 2rem;
    
}

.data >* {
    padding: 0.5rem 0;
}


/*#region columns */
.col-7 {
    width: calc(100%/12 * 7);
    
}

.col-5 {
    width: calc(100%/12 * 5);
}
/* #endregion */