@import 'text', 'common_rules', 'header';
$bg-primary : #0B0D17;
$almost-white: #D0D6F9;
$white : #FFFFFF;
$gray: #979797;

@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-bottom: 4rem;
}


body {
    background-image: url(../home/background-home-desktop.jpg);
    
}


/* #region columns */
.col {
    width: 500px;
}


/* #endregion */



/* #region main */
#site_main {
    height: 700px;
    display: flex;
    align-items: flex-end;
}


.text-uppercase {
    text-transform: uppercase;
        
}



.row.index {
    justify-content: space-between;
}

.explore {
    align-self: flex-end;
    transition: box-shadow 0.3s ease;
    
}

.explore h4  a{
    @include flexCenter();
    width: 250px;
    height: 250px;
    background-color: $white;
    color: $bg-primary;
    font-weight: 100;
    
}

.explore h4  a, .explore {
    border-radius: 50%;
}

.explore:hover {
    box-shadow: 0 0 0 50px rgba(151, 151, 151, 0.5);
    cursor: pointer;
}



/* #endregion */



